.carousel-item {
    background-color: #f8f9fa;
    /* Light background color */
    height: 300px;
    /* Adjust as needed */
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}